.jumbotron {
  background-image: url('../assets/images/bgImage.jpg');
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-position: center;
  /* Centers the background image */
  background-repeat: no-repeat;
  /* Ensures the image doesn't repeat */
  min-height: 75vh;

}

.jumbotron .leftSide {
  width: 100%;

}

.jumbotron .rightSide {
  width: 100%;
  display: none;

}


.card2 {
  background-image: url('../assets/images/computerman.jpg');
  background-size: cover;
  /* Ensures the image covers the entire div */
  background-repeat: no-repeat;
  /* Ensures the image doesn't repeat */
  border-radius: 15px;
  height: 420px;
}

/* Media query for tablets (768px and above) */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar a {
    padding: 15px 20px;
  }

  .main-content {
    padding: 30px;
  }
}

/* Media query for desktops (1024px and above) */
@media (min-width: 1024px) {
  .jumbotron {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../assets/images/desktop-jumbo-image.png');
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the background image */
    background-repeat: no-repeat;
    /* Ensures the image doesn't repeat */
    width: 100%;

  }

  .jumbotron .leftSide {
    width: 50%;
    padding: 5%;
  
  }

  .jumbotron .leftSide p {
    width: 65%;
  
  }

  .jumbotron .leftSide h4 {
    width: 100%;
    font-size: 45px;
  
  }
  
  .jumbotron .rightSide {
    width: 50%;
    padding: 5%;
  
  }

  .section2 .left{
    width: 50%;
  }
  .section2 .right{
    width: 50%;
  }

  .section2 .left h5{
    font-size: 30px;
    padding-inline: 5%;
  }

  .section2 .left p{
    padding-inline: 5%;
  }

  .section2 .left .brands{
    padding-inline: 5%;
  }

  .section2 .left .bi{
    font-size: 2em;
  }
}